footer{
    height: 160px;
    background-color: rgb(46, 44, 44);
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    box-sizing: border-box;
   position: fixed;
}
.logo-container{
    display: flex;
   gap: 5px;
  
}
.logos {
  height: 50px;
  width: 50px;
  border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 113, 150);

}



h5{
    color: white;
    font-size:  18pt;
    padding-bottom: 15px;
}
